.mat-mdc-slider.range-slider-filter {
  & .mdc-slider {
    &__thumb-knob {
      border-color: rgb(163, 102, 255);
    }
    &__track {
      background-color: #80008030;

      &--active_fill {
        border-color: rgb(163, 102, 255);
      }
    }
  }
}
