// .mat-primary {
//   --mat-full-pseudo-checkbox-selected-checkmark-color: red;
//   --mat-full-pseudo-checkbox-unselected-icon-color: rgba(0, 0, 0, 0.54);
//   --mat-full-pseudo-checkbox-disabled-selected-checkmark-color: #fafafa;
//   --mat-full-pseudo-checkbox-disabled-unselected-icon-color: #b0b0b0;
//   --mat-full-pseudo-checkbox-disabled-selected-icon-color: #b0b0b0;
//   --mat-minimal-pseudo-checkbox-disabled-selected-checkmark-color: #b0b0b0;
// }

.mat-mdc-slider.range-slider-filter {
  & .mdc-slider {
    &__thumb-knob {
      border-color: rgb(163, 102, 255);
    }
    &__track {
      background-color: #80008030;

      &--active_fill {
        border-color: rgb(163, 102, 255);
      }
    }
  }
}
