:host {
  display: block;
  .toggleSwitch {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
    width: 150px;
    outline: 2px solid rgb(163, 102, 255);
    border-radius: 10px;
    height: 34px;
    user-select: none;

    & span {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      font-size: 0.9em;
      height: 35px;

      &.active {
        background-color: rgb(163, 102, 255);
        color: white;
      }
    }
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }
}
