:host {
  display: block;
  margin-top: 5rem;
  height: 100%;

  .form {
    margin-bottom: 2rem;
  }

  .card-container {
    padding: 0px 5px;
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: self-start;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
