<form class="form" (submit)="$event.preventDefault(); save()">
  <app-input [formControl]="cityNameControl" (onIconClick)="save()"></app-input>
</form>
<div class="button-container">
  <app-toggle-button (isCelChange)="changeUnit($event)"></app-toggle-button>

  <app-sort-button></app-sort-button>

  <app-range-slider [isCel]="isCel"></app-range-slider>
</div>
<div class="card-container">
  @for(cityWeather of cityWeatherList$ | async; track index; let index = $index)
  {
  <app-weather-card
    [cityWeather]="cityWeather"
    [index]="cityWeather.id"
    [isCel]="isCel"
  ></app-weather-card>
  }
</div>
