<form class="form" (submit)="$event.preventDefault(); save()">
  <app-input [formControl]="cityNameControl"></app-input>
</form>

<label class="toggleSwitch nolabel">
  <input type="checkbox" checked />
  <a></a>
  <span>
    <span (click)="isCelc()" class="left-span">Enabled</span>
    <span (click)="isFahs()" class="right-span">Disabled</span>
  </span>
</label>

<div class="btn-container">
  <button (click)="isCelc()" class="btn">°C</button>
  <button (click)="isFahs()" class="btn">°F</button>
</div>

<div class="btn-container">
  <button (click)="sortByTemperature(true)">Sort Ascending</button>
  <button (click)="sortByTemperature(false)">Sort Descending</button>
</div>

<div class="card-container">
  @for(cityWeather of cityWeatherList$ | async; track cityWeather; let index =
  $index) {
  <app-weather-card
    [cityWeather]="cityWeather"
    [index]="index"
    [isCel]="isCel"
  ></app-weather-card>
  }
</div>
