@use "variables/layers" as *;

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: getLayerOf("sticky");
  position: sticky;
  top: 0;
  background-image: linear-gradient(
    to right,
    rgb(163, 102, 255),
    rgb(72, 0, 255)
  );
  border-bottom-left-radius: 4rem;

  .title {
    padding: 2rem 1rem;
    color: white;
    font-size: 2rem;
  }

  .img {
    margin-left: 3rem;
    margin-right: 1rem;
  }
}
