:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  z-index: 2;
  position: sticky;
  background-image: linear-gradient(
    to right,
    rgb(163, 102, 255),
    rgb(72, 0, 255)
  );
  border-bottom-left-radius: 4rem;
  .title {
    padding: 20px 10px;
    color: white;
    font-size: 2rem;
  }
  .img {
    margin-left: 3rem;
    margin-right: 1rem;
  }
}
