:host {
  display: block;

  .input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(163, 102, 255);
    border-radius: 10px;
    position: relative;
  }

  .input {
    outline: none;
    margin: 1rem;
    height: 20px;
    width: 95%;
    border: none;
  }

  .label {
    position: absolute;
    left: 1.2rem;
    top: -0.9rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: white;
    user-select: none;
    color: rgb(163, 102, 255);
  }

  .icon {
    margin-right: 5px;

    &--clicable {
      cursor: pointer;
    }
  }
  .error {
    position: absolute;
    right: 5rem;
    bottom: -1rem;
    background-color: white;
    user-select: none;
    color: red;
  }
}
