:host {
  display: block;

  .selected-temp {
    display: flex;
    justify-content: space-between;
  }
  mat-slider {
    width: 200px;
  }

  @media (min-width: 350px) {
    mat-slider {
      width: 300px;
    }
  }
}
