:host {
  display: block;

  .card-box {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid orange;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 5px;

    &__img {
      width: auto;
      height: auto;
    }
  }

  .main-con {
    display: flex;
    align-items: center;
  }

  .text-inside {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .delete-btn {
    margin-right: 10px;
  }
}
