<div class="card-box">
  <div class="main-con">
    <img
      src="{{
        'http://openweathermap.org/img/wn/' + cityWeather().icon + '@2x.png'
      }}"
      alt="Weather icon"
      class="card-box__img"
    />

    <div class="text-inside">
      <span class="temp-main">{{
        isCel()
          ? cityWeather().temp.toFixed(0) + "°C"
          : ((cityWeather().temp * 9) / 5 + 32).toFixed(0) + "°F"
      }}</span>
      <div class="temp-under">
        <span>
          {{
            "H: " +
              (isCel()
                ? cityWeather().temp_max.toFixed(0) + "°C"
                : ((cityWeather().temp_max * 9) / 5 + 32).toFixed(0) + "°F")
          }}</span
        >
        <span>
          {{
            "L: " +
              (isCel()
                ? cityWeather().temp_min.toFixed(0) + "°C"
                : ((cityWeather().temp_min * 9) / 5 + 32).toFixed(0) + "°F")
          }}</span
        >
      </div>
      <span class="city-name">{{ cityWeather().name }}</span>
    </div>
  </div>
  <button class="delete-btn" (click)="deleteCity(index())">usun</button>
</div>
