:host {
  display: block;

  .card-box {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(163, 102, 255);
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 5px;

    &__img {
      width: auto;
      height: auto;
    }
  }

  .main-con {
    display: flex;
    align-items: center;
  }

  .text-inside {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .delete-btn {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: rgb(163, 102, 255);
    cursor: pointer;
  }

  .temp-main {
    font-size: 2.3rem;
  }
  .temp-under {
    font-size: 1.2rem;
    color: gray;
  }
  .city-name {
    font-size: 1.5rem;
  }
}
